<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Dorm Ratings</title>
</head>
<body>
    <div id="main">
        <div id="nav">
            <a href="/" class="link">Home</a>
            <a href="/random" class="link">Random</a>
            <a href="/clean" class="link">Clean</a>
            <a href="/social" class="link">Social</a>
            <a href="/convenient" class="link">Convenient</a>
            <a href="/quality" class="link">Quality</a>
        </div>
        {{{body}}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/public/js/index.js"></script>
</body>
</html>

